<!DOCTYPE html>
<html>
    <head>
        <title>Lab 1</title>
        <!-- <link href="{{ url_for('static', path='/simple.css') }}" rel="stylesheet"> -->
        <style>
            html {
                padding-left: 5px;
            }

            h1 {
                font-size: 24px;
            }
        </style>
    </head>
    <body>
        <p>Дані: {{data}}</p>
        <p>Кількість елементів: {{count}}</p>
        <h1>Числові параметри:</h1>
        <p>Середнє статистичне: {{average}}</p>
        <p>Мода: {{mode}}</p>
        <p>Медіана: {{median}}</p>
        <p>Розмах: {{range}}</p>
        <p>Дисперсія: {{dispersion}}</p>
        <p>Середнє квадратичне відхилення: {{avg_quad_deviation}}</p>
        <p>Виправлена дисперсія: {{adj_dispersion}}</p>
        <p>Виправлене середнє квадратичне відхилення: {{adj_aqd}}</p>
        <p>Варіація: {{variation}}</p>
        <p>Початковий момент {{k}}-го порядку: {{starting_moment}}</p>
        <p>Центральний момент {{k}}-го порядку: {{central_moment}}</p>
        <p>Асиметрія: {{skewness}}</p>
        <p>Ексцес: {{kurtosis}}</p>
    </body>
</html>
